%h1 Listing clubs

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Logo
      %th
      %th
      %th

  %tbody
    - @clubs.each do |club|
      %tr
        %td= link_to club.name, club_path(club)
        %td= link_to club.description, club_path(club)
        %td= club.logo

%br

