.banner-content
  #da-slider.da-slider
    .da-slide
      %h2 Modern
      %p Amazing free responsive website for free
      .da-img
    .da-slide
      %h2 Multi Purpose
      %p Bootstrap mobile first front-end framework.
      .da-img
    .da-slide
      %h2 Latest Tech
      %p HTML5/CSS3 used for structuring and presenting.a
      .da-img
    .da-slide
      %h2 Design
      %p We used jQuery: Write Less.. Do More..
      .da-img
    %nav.da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next
/ /Header
