.container-fluid
  .col-lg-6
    .panel
      .panel-heading
        .panel-body
          %h1=@event.title
          %p=@event.description
          %p=link_to 'back', root_path
  .col-lg-3
    .panel
      .panel-heading
        .panel-body
          %h4 Attendance list:
          -@attendences.each do |event|
            =event.user.email
            =event.created_at
          -if @attendences.where(user_id: current_user.id).count > 0
            %br You already have attendence to this event
            = link_to 'Unattend', unattend_event_attendences_path(@event), class: "btn btn-danger"
          -else
            -if user_signed_in?
              = link_to 'Attend', attend_event_attendences_path(@event), class: "btn btn-success"