%h1 Event:
%h1=@event.title
%p=@event.description
%p=link_to 'back', root_path

-@attendences.each do |event|
  =event.user.email
  =event.created_at
  %br/
%hr
-if @attendences.where(user_id: current_user.id).count > 0
  %br You already have attendence to this event
-else
  -if user_signed_in?
    =simple_form_for @attendence, url: event_attendences_path(@event)  do |f|
      =f.button :submit