/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
.head {
  background-color: #8fe3f7;
}
.row {
  background-color: #e6f7f5;
}
.top {


}
.middle {
  background-color: rgba(252, 252, 252, 0.27);
  border-top: 1px solid;
  border-bottom: 1px solid;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  border-radius: 2px;
  border-color: #F7F7F7;

}
.middlee {
  background-color: rgba(252, 252, 252, 0.27);
  border-top: 1px solid;
  border-bottom: 1px solid;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  border-radius: 2px;
  border-color: #F7F7F7;

}
.col-lg-4 {

}